<div class="card m-4 p-3">
    <form [formGroup]="addUpdateForm">
    <div class="row">
      <div class="col-sm-4 mb-3">
        <label for="exampleFormControlInput1" class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
      </div>
      <div class="col-sm-4 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Middle Name</label>
        <input type="text" class="form-control" formControlName="middleName" placeholder="Middle Name">
      </div>
      <div class="col-sm-4 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 mb-3">
        <div class="col-sm-6">
          <label class="form-label">Gender</label>
          <div class="d-block">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" formControlName="gender"
                      id="inlineRadio1" value="male">
                  <label class="form-check-label" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" formControlName="gender"
                      id="inlineRadio2" value="female">
                  <label class="form-check-label" for="inlineRadio2">Female</label>
              </div>
          </div>
      </div>
      </div>
      <div class="col-sm-4 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email Id</label>
        <input type="email" class="form-control" formControlName="emailId" placeholder="Email Id">
      </div>
      <div class="col-sm-4 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Contact No</label>
        <input type="text" class="form-control" formControlName="contactNo" placeholder="Contact No">
      </div>
      <div class="col-sm-4 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Department</label>
          <select class="form-select" id="gender" name="gender" formControlName="department" placeholder="Department">
            <option value="" disabled selected>Select Department</option>
            <option [value]="dept.id" *ngFor="let dept of departmentArray">{{dept.textEnglish}}</option>
          </select>
      </div>
      <div class="col-sm-4 mb-3">
        <label for="fuPhoto" class="form-label">Document</label>
        <div class="uploadimg">
            <input type="file" id="img-upload" class="d-none" (change)="fileUpload($event)"
                #fileInput>
            <button type="button" class="btn btn-primary btn-sm btn-add me-2" *ngIf="!addUpdateForm.value?.document"
                (click)="openInputFile()"> Upload Document
            </button>
            <button type="button" class="btn btn-light btn-sm btn-add" *ngIf="addUpdateForm.value?.document" >
              <a [attr.href]="addUpdateForm.value?.document" target="_blank">
                <i class="fa-duotone fa-regular fa-file-excel"></i>
              </a>
        </button>
            <button type="button" class="btn btn-light btn-sm btn-remove" *ngIf="addUpdateForm.value?.document"
                (click)="addUpdateForm.controls['document']?.setValue('')"><i class="fas fa-trash-alt text-danger"></i></button>
        </div>
    </div>
      <div class="col-sm-4 text-end mt-4">
        <button type="button" class="btn btn-danger mb-3 me-2" (click)="clearForm()">Clear</button>
      <button type="submit" class="btn btn-primary mb-3" (click)="onSubmit()">{{editFlag == false ? 'Submit' : 'Update'}}</button>
      </div>
    </div>
</form>

    </div>
    
    <div class="row m-2">
      <div class="col-sm-8"></div>
      <div class="col-sm-3">
        <input type="text" class="form-control" [formControl]="textFilter" placeholder="Search By Name....">
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-primary mb-3" (click)="pageNo = 1;getUserData()">Search</button>
      </div>
    </div>

    <div class="m-3 p-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SrNo</th>
            <th scope="col">Full Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email Id</th>
            <th scope="col">Contact No</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userData of usersArray | paginate: { itemsPerPage: 10, currentPage: pageNo, totalItems:getTotal}; let i = index"
           [class.table-active]="highlightRow == userData?.id">
            <th scope="row">{{((pageNo + 1) * 10 + i + 1)-20}}</th>
            <td>{{userData.firstName}} {{userData.middleName}} {{userData.lastName}}</td>
            <td>{{userData.gender}}</td>
            <td>{{userData.emailId}}</td>
            <td>{{userData.contactNo}}</td>
            <td>
              <ng-container *ngFor="let dept of departmentArray">
              <span *ngIf="dept.id == userData.department">{{dept.textEnglish}}</span>
            </ng-container>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" title="Edit Constituency" class="btn btn-sm btn-light text-edit me-1 rounded" (click)="editForm(userData)">
                        <i class="far fa-edit"></i></button>
                    <button type="button" title="Delete Constituency" class="btn btn-sm btn-light text-danger rounded" (click)="deleteApi(userData.id)">
                        <i class="fas fa-trash-alt"></i></button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-2 text-end" *ngIf="usersArray?.length != 0">
        <pagination-controls previousLabel="" nextLabel=""
            (pageChange)="onClickPagintion($event)">
        </pagination-controls>
    </div>
    </div>
    

