<mat-card class="plain-card">
    <mat-card-header class="card-header w-100 border-0 pb-0">
      <div class="d-flex align-items-center w-100 justify-content-between">
        <h6 class="text-main mb-0">User List</h6>
        <button mat-flat-button class="btn-main-light" ></button>
      </div>
    </mat-card-header>
    <mat-card-header class="card-header-control border-0">
      <div class="row g-2 w-100">
        <div class="col-sm-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Search....</mat-label>
            <input matInput placeholder="Search"  maxlength="50">
          </mat-form-field>
        </div>
        <div class="col-sm-auto">
          <div class="d-flex gap-2">
            <button mat-flat-button class="btn-main" >Search</button>
          </div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="card-body pt-0">

    </mat-card-content>
  </mat-card>
